<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
        <img class="imgForm" src="assets/img/formRankingAlumno.svg" alt="IMG" />
      </div>

      <form [formGroup]="formRankingAlumno" class="login100-form validate-form">
        <span class="login100-form-title">Unirse Ranking:</span>

        <div
          class="wrap-input100 validate-input"
          data-validate="Valid email is required: ex@abc.xyz"
        >
          <input
            class="input100"
            type="text"
            formControlName="cRanking"
            placeholder="Codigo Ranking"
            maxlength="15"
          />
          <span class="focus-input100"></span>
        </div>

        <div *ngIf="!formRankingAlumno.controls.cRanking.valid && formRankingAlumno.dirty">
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.cRanking">
              <div
                *ngIf="
                  formRanking.get('cRanking').hasError(validation.type) &&
                  (formRanking.get('cRanking').dirty ||
                    formRanking.get('cRanking').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit" (click)="btnInscribirse()" [disabled]="!formRankingAlumno.valid">Inscribirse</button>
        </div>
        <div class="container-login100-form-btn">
          <button class="login100-form-btn btnAtras" type="button"  (click)="btnAtras()">Atras</button>
        </div>

        <div class="text-center p-t-12"></div>

        <div class="text-center p-t-136"></div>
      </form>
    </div>
  </div>
</div>
