<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="#">
      <h1>Login</h1>
      <br>
			<span>Utiliza tu cuenta:</span>
			<input type="email" placeholder="Email" />
      <input type="password" placeholder="*********" />
      <br>
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Hola amigo!</h1>
				<p>Ingresa tus datos personales y comienca tu viaje con nosotros</p>
				<button class="ghost" id="signUp">Registrar</button>
			</div>
		</div>
	</div>
</div>
