<div class="container" id="container">
	<div class="form-container sign-in-container">
    <form [formGroup]="formLogin" (ngSubmit)="submitLogin()">
      <input type="text" [formControlName]="'username'"/>
      <!-- <div *ngIf="form.get('username').hasError('required')">
          Username is a required field
      </div>

      [disabled]="!form.valid"-->

      <input type="password" [formControlName]="'password'"/>
      <button  type="submit">Submit</button>
    </form>
    <label>
      <h1>Login</h1>
      <br>
			<span>Utiliza tu cuenta:</span>
			<input type="email" [formControl]="email" placeholder="Email" />
      <input type="password" placeholder="*********" />
      <br>
			<button type="submit">Sign In</button>
    </label>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Hola amigo!</h1>
				<p>Ingresa tus datos personales y comienca tu viaje con nosotros</p>
				<button class="ghost" id="signUp">Registrar</button>
			</div>
		</div>
	</div>
</div>
