<div class="container">
  <header>
    <h1>{{nombreRanking}}</h1>
  </header>
  <div>
    <button type="button" class="btn btn-dark atras" routerLinkActive="active" (click)="btnAtras()"><i class="far fa-arrow-alt-circle-left"></i> Atrás</button>
    <button type="submit" class="btn btn-dark guardar" routerLinkActive="active" (click)="btnGuardar()"><i class="far fa-save"></i> Guardar</button>
  </div>

  <div class="wrapper">

    <!-- <select class="form-select" aria-label="Default select example" [value]="idEj" (change)="cambiarSkill($event.target.value)">
      <ng-container  *ngFor="let skill of skills; let i=index">
        <option value="{{i}}">{{skill}}</option>
      </ng-container>
    </select> -->

    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Num</th>
          <th>Nick</th>
          <th>Alumno</th>
          <th>Cooperacion</th>
          <th>Emociones</th>
          <th>Pensamiento</th>
          <th>Iniciativa</th>
          <th>Responsabilidad</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let alumno of alumnos">
          <td class="rank">{{alumno.posicion}}</td>
          <td class="nick">{{alumno.nickname}}</td>
          <td class="name">{{alumno.lastname+ ", " +alumno.firstname}}</td>
          <td class="points">
            <div class="input-group mb-3">
              <input type="number" class="form-control" [(ngModel)]="alumno.cooperacion">
            </div>
          </td>
          <td class="points">
            <div class="input-group mb-3">
              <input type="number" class="form-control" [(ngModel)]="alumno.emociones">
            </div>
          </td>
          <td class="points">
            <div class="input-group mb-3">
              <input type="number" class="form-control" [(ngModel)]="alumno.pensamiento">
            </div>
          </td>
          <td class="points">
            <div class="input-group mb-3">
              <input type="number" class="form-control" [(ngModel)]="alumno.iniciativa">
            </div>
          </td>
          <td class="points">
            <div class="input-group mb-3">
              <input type="number" class="form-control" [(ngModel)]="alumno.responsabilidad">
            </div>
          </td>
        </tr>

      </tbody>
    </table>
    <p style="text-align: center; font-weight: 700; margin-top: 20px;">Punto a repartir: {{puntos}}</p>
  </div>
</div>



