<div class="page-content page-container" id="page-content" class="bg">
  <div class="padding">
    <div class="row container-l d-flex justify-content-center">
      <div class="col-xl-8 col-md-12">
        <div class="card user-card-full">
          <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <div class="m-b-25">
                  <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius"
                    alt="User-Profile-Image" width="50%" />
                </div>
                <p *ngIf="student === true">Alumno</p>
                <p *ngIf="student === false">Profesor</p>
                <h6 class="f-w-600">{{nickname}}</h6>
                <br>
                <i class="mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
              </div>

              <button type="button" class="btn btn-light btn-style" routerLink="/login">LOGOUT</button>

            </div>
            <div class="col-sm-8">
              <!-- <button (click)="editarInfo()">Editar</button> -->
              <div class="card-block">
                <h4 class="m-b-20 p-b-5 b-b-default f-w-600"><a class="btnActivado" id="btnRanking" (click)="mostrarRanking()">Rankings</a><a id="btnPerfil" (click)="mostrarPerfil()">Información</a></h4>
                <ng-container *ngIf="ventana === 'ranking'">
                  <div class="row">
                    <div class="col-12">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">Nombre del Ranking</th>
                            <th scope="col">Code</th>
                            <th scope="col">Acciones<button *ngIf="student == false" id="btnAgregar" type="button"  class="btn btn-success bt" routerLink="/formRanking"  routerLinkActive="active"> Añadir <i class="fas fa-plus"></i></button></th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let rank of rankingArray">
                          <tr>
                            <td>{{rank.name}}</td>
                            <td>{{rank.code}}</td>
                            <td>
                              <button type="button" class="btn btn-primary bt" (click)="verRanking(rank.idRank)"> Ver <i class="fas fa-eye"></i></button>
                              <button type="button" *ngIf="student === false" class="btn btn-success bt" (click)="editarRanking(rank.idRank)">  <i class="fas fa-edit"></i></button>
                              <button type="button" *ngIf="student === false" class="btn btn-danger bt" (click)="eliminarRanking(rank.idRank)">  <i class="fas fa-remove"></i></button>
                              <button type="button" *ngIf="student === false" class="btn btn-warning bt" (click)="actualizarCodigo(rank.idRank)">  <i class="fas fa-spinner"></i></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="ventana === 'perfil'">
                  <form [formGroup]="perfilForm">
                    <div class="row">
                      <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">Nombre</p>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="far fa-user"></i></span>
                          </div>
                          <input type="text" class="form-control text-muted f-w-400" placeholder="Nombre"
                            formControlName="fname">
                        </div>
                        <div *ngIf="!perfilForm.controls.fname.valid && perfilForm.dirty">
                          <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.fname">
                              <div
                                *ngIf="perfilForm.get('fname').hasError(validation.type) && (perfilForm.get('fname').dirty || perfilForm.get('fname').touched)">
                                {{ validation.message }}
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">Apellidos</p>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2"><i class="far fa-user"></i></span>
                          </div>
                          <input type="text" class="form-control text-muted f-w-400" placeholder="Apellidos"
                            formControlName="lname">
                        </div>
                        <div *ngIf="!perfilForm.controls.lname.valid && perfilForm.dirty">
                          <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.lname">
                              <div
                                *ngIf="perfilForm.get('lname').hasError(validation.type) && (perfilForm.get('lname').dirty || perfilForm.get('lname').touched)">
                                {{ validation.message }}
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">Email</p>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3"><i class="far fa-envelope"></i></span>
                          </div>
                          <input type="email" class="form-control text-muted f-w-400" placeholder="Email"
                            formControlName="email">
                        </div>
                        <div *ngIf="!perfilForm.controls.email.valid && perfilForm.dirty">
                          <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.email">
                              <div
                                *ngIf="perfilForm.get('email').hasError(validation.type) && (perfilForm.get('email').dirty || perfilForm.get('email').touched)">
                                {{ validation.message }}
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">Contraseña</p>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3"><i class="fas fa-unlock-alt"></i></span>
                          </div>
                          <input type="password" class="form-control text-muted f-w-400" placeholder="Contraseña"
                            formControlName="password">
                        </div>
                        <div *ngIf="!perfilForm.controls.password.valid && perfilForm.dirty">
                          <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.password">
                              <div
                                *ngIf="perfilForm.get('password').hasError(validation.type) && (perfilForm.get('password').dirty || perfilForm.get('password').touched)">
                                {{ validation.message }}
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6" [hidden]="hideCenter">
                        <p class="m-b-10 f-w-600">Centro</p>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon5"><i class="fas fa-school"></i></span>
                          </div>
                          <input type="text" class="form-control text-muted f-w-400" placeholder="Centro"
                            formControlName="center">
                        </div>
                        <div *ngIf="!perfilForm.controls.center.valid && perfilForm.dirty">
                          <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.center">
                              <div
                                *ngIf="perfilForm.get('center').hasError(validation.type) && (perfilForm.get('center').dirty || perfilForm.get('center').touched)">
                                {{ validation.message }}
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <button type="submit" [disabled]="perfilForm.invalid" class="btn btn-primary"
                            (click)="saveUser()">
                            Guardar
                            <i class="far fa-save"></i>
                          </button>
                          <button type="submit" class="btn btn-primary edit" (click)="editarInfo()">
                            Editar
                            <i class="far fa-edit"></i>
                          </button>
                      </div>
                    </div>
                  </form>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
