<div class="page-content page-container" id="page-content" style="background-color: rgb(218, 218, 218);">
  <div class="padding">
    <div class="row container-l d-flex justify-content-center">
      <div class="col-xl-6 col-md-12">
        <div class="card user-card-full">
          <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <div class="m-b-25">
                  <img
                    src="https://img.icons8.com/bubbles/100/000000/user.png"
                    class="img-radius"
                    alt="User-Profile-Image"
                  />
                </div>
                <h6 class="f-w-600">QuimMP</h6>
                <p>Alumno</p>
                <i
                  class="mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"
                ></i>
                <button type="button" class="btn btn-light">Editar</button>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="card-block">
                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Información</h6>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Nombre</p>
                    <h6 class="text-muted f-w-400">Quim</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Apellidos</p>
                    <h6 class="text-muted f-w-400">Martínez Piqué</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Email</p>
                    <h6 class="text-muted f-w-400">qmartinez@useit.es</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Contraseña</p>
                    <h6 class="text-muted f-w-400">*******</h6>
                  </div>
                </div>
                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                  Rankings
                </h6>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">1. BONUS_DAW</p>
                    <h6 class="text-muted f-w-400">16 alumnos</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">2. BONUS_DAM</p>
                    <h6 class="text-muted f-w-400">21 alumnos</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">3. BONUS2020</p>
                    <h6 class="text-muted f-w-400">31 alumnos</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">4. PROGRAMACIÓN</p>
                    <h6 class="text-muted f-w-400">16 alumnos</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">5. BONUS_SMX</p>
                    <h6 class="text-muted f-w-400">28 alumnos</h6>
                  </div>

                  <div class="col-sm-12">
                    <img
                      src="assets/img/student.svg"
                      alt="student profile"
                      width="50%"
                    />
                  </div>
                  <!--<div class="col-sm-12">
                                    <img src="assets/img/professor.svg" alt="professor profile" width="50%">
                                  </div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
