<div class="container">
  <header>
    <h1>{{nombreRanking}}</h1>
  </header>
  <div>
    <button type="button" class="btn btn-dark atras" routerLinkActive="active" (click)="btnAtras()"><i class="far fa-arrow-alt-circle-left"></i> Atrás</button>
    <button type="submit" class="btn btn-dark guardar" routerLinkActive="active" (click)="btnGuardar()"><i class="far fa-save"></i> Guardar</button>
  </div>

  <div class="wrapper">
    <select class="form-select" aria-label="Default select example" [(ngModel)]="numEjercicio" (change)="cambiarEjercicio()">
      <option selected>Selecciona un ejercicio</option>
      <option value="1">Ejercicio 1</option>
      <option value="2">Ejercicio 2</option>
      <option value="3">Ejercicio 3</option>
      <option value="4">Ejercicio 4</option>
      <option value="5">Ejercicio 5</option>
      <option value="6">Ejercicio 6</option>
      <option value="7">Ejercicio 7</option>
      <option value="8">Ejercicio 8</option>
      <option value="9">Ejercicio 9</option>
      <option value="10">Ejercicio 10</option>
      <option value="11">Ejercicio 11</option>
      <option value="12">Ejercicio 12</option>
      <option value="13">Ejercicio 13</option>
      <option value="14">Ejercicio 14</option>
      <option value="15">Ejercicio 15</option>
    </select>
    <table>
      <thead>
        <tr>
          <th>Num</th>
          <th>Nick</th>
          <th>Alumno</th>
          <th>Puntuación</th>
          <th>Equipo</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let alumno of alumnos">
          <td class="rank">{{alumno.posicion}}</td>
          <td class="nick">{{alumno.nick}}</td>
          <td class="name">{{alumno.fname + " " + alumno.lname}}</td>
          <td class="points">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-trophy"></i></span>
              </div>
              <input type="number" class="form-control" [(ngModel)]="alumno.puntos">
            </div>
          </td>
          <td class="team">{{alumno.nombreEquipo}}</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>



