<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
        <img src="assets/img/formRanking.svg" alt="IMG" />
      </div>

      <form [formGroup]="formRanking" class="login100-form validate-form">
        <span class="login100-form-title"> Crear ranking: </span>

        <div
          class="wrap-input100 validate-input"
          data-validate="Valid email is required: ex@abc.xyz"
        >
          <input
            class="input100"
            type="text"
            formControlName="nRanking"
            placeholder="Nombre"
          />
          <span class="focus-input100"></span>
        </div>

        <div *ngIf="!formRanking.controls.nRanking.valid && formRanking.dirty">
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.nRanking">
              <div
                *ngIf="
                  formRanking.get('nRanking').hasError(validation.type) &&
                  (formRanking.get('nRanking').dirty ||
                    formRanking.get('nRanking').touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit" (click)="btnAnadir()" [disabled]="!formRanking.valid">Crear</button>
        </div>
        <div class="container-login100-form-btn">
          <button class="login100-form-btn btnAtras" type="button"  (click)="btnAtras()">Atras</button>
        </div>

        <div class="text-center p-t-12"></div>

        <div class="text-center p-t-136"></div>
      </form>
    </div>
  </div>
</div>
