<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
        <img src="assets/img/formRanking.svg" alt="IMG" />
      </div>

      <form [formGroup]="formRanking" class="login100-form validate-form">
        <span class="login100-form-title"> Crear ranking </span>

        <div
          class="wrap-input100 validate-input"
          data-validate="Valid email is required: ex@abc.xyz"
        >
          <input
            class="input100"
            type="text"
            name="nRanking"
            placeholder="Nombre"
          />
          <span class="focus-input100"></span>
        </div>

        <div
          class="wrap-input100 validate-input"
          data-validate="Password is required"
        >
          <input
            class="input100"
            type="password"
            name="pass"
            placeholder="Alumnos"
          />
          <span class="focus-input100"></span>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit">Crear</button>
        </div>

        <div class="text-center p-t-12"></div>

        <div class="text-center p-t-136"></div>
      </form>
    </div>
  </div>
</div>
