<div class="container">
  <header>
    <h1>{{nombreRanking}}</h1>
  </header>
  <button type="button" class="btn btn-dark atras" routerLinkActive="active" (click)="btnAtras()"><i class="far fa-arrow-alt-circle-left"></i> Atrás</button>
  <div class="wrapper">
    <table>
      <thead>
        <tr>
          <th>Insignia</th>
          <th>Posición</th>
          <th>Alumno</th>
          <th>Puntuación</th>
          <th>Equipo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnos">
          <td>
            <img src={{alumno.img}} alt="Insignia" class="icono">
          </td>
          <td class="rank">{{alumno.posicion}}</td>
          <td class="team">{{alumno.fname + " " + alumno.lname}}</td>
          <td class="points">{{alumno.puntos}}</td>
          <td class="team">{{alumno.nombreEquipo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
