<div class="container">
  <header>
    <h1>{{nombreRanking}}</h1>
  </header>
  <button type="button" class="btn btn-dark atras" routerLinkActive="active" (click)="btnAtras()"><i class="far fa-arrow-alt-circle-left"></i> Atrás</button>
  <div class="wrapper">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Insignia</th>
          <th>Posición</th>
          <th>Alumno</th>
          <th>Puntuación</th>
          <th>Equipo</th>
          <th>Skills</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnos">
          <td>
            <img src={{alumno.img}} alt="Insignia" class="icono">
          </td>
          <td class="rank">{{alumno.posicion}}</td>
          <td id="alumActual" class="team" [ngClass]="{'alumActualColor' : alumno.actual}" >{{alumno.fname + " " + alumno.lname}}</td>
          <td class="points">{{alumno.puntos}}</td>
          <td class="team">{{alumno.nombreEquipo}}</td>
          <td><img src="../../../assets/Skills/Cooperacion/Cooperacion1.png" colspan = 4 alt="" height=45 width=28 (click)="infoCooperacionBtn()" ></td>
          <td><img src="assets/Skills/Emociones/Emociones1.png" colspan = 4 alt="" height=45 width=40 (click)="infoEmocionesBtn()"></td>
          <td><img src="assets/Skills/Iniciativa/Iniciativa1.png" colspan = 4 alt="" height=45 width=35 (click)="infoIniciativaBtn()"></td>
          <td><img src="assets/Skills/Pensamiento/Pensamiento1.png" colspan = 4 alt="" height=45 width=45 (click)="infoPensamientoBtn()"></td>
          <td><img src="assets/Skills/Responsabilidad/Responsabilidad1.png" colspan = 4 alt="" height=45 width=40 (click)="infoResponsabilidadBtn()"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- [class]="{'alumActualColor': id === alumno.idAlum}" -->
