<div class="wrapper">
  <div class="inner">
    <img src="assets/img/image-3.png" alt="" class="image-1">
    <form action="">
      <h3>Registrarse</h3>
      <div class="form-holder">
        <span class="lnr lnr-user"></span>
        <input type="text" class="form-control" placeholder="Nick">
      </div>
      <div class="form-holder">
        <span class="lnr lnr-lock"></span>
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-holder">
        <span class="lnr lnr-lock"></span>
        <input type="password" class="form-control" placeholder="Confirm Password">
      </div>
      <div class="form-holder">
        <span class="lnr lnr-envelope"></span>
        <input type="email" class="form-control" placeholder="Correo Electronico">
      </div>
      <div class="form-holder">
        <span class="lnr lnr-pencil"></span>
        <input type="text" class="form-control" placeholder="Nombre">
      </div>
      <div class="form-holder">
        <span class="lnr lnr-pencil"></span>
        <input type="text" class="form-control" placeholder="Apellidos">
      </div>
      <div class="form-holder">
        <span class="lnr lnr-graduation-hat"></span>
        <input type="text" class="form-control" placeholder="Centro">
      </div>
      <button>
        <span>Registrar</span>
      </button>
    </form>
    <img src="assets/img/image-2.png" alt="" class="image-2">
  </div>

</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/main.js"></script>
