<div class="wrapper">
  <div class="inner">
    <!-- Imagen Izquierda -->
    <img src="assets/img/image-3.png" alt="" class="image-1" />

    <form
      [formGroup]="registro"
      method="POST"
      *ngIf="mostrar === true"
      class="container"
    >
      <!-- TITULO PAGINA -->
      <br />
      <h3>Registrarse Alumno</h3>

      <!-- Botones PROFE-ALUMNO -->
      <div class="botonesPA input-group">
        <h4 class="btnAP"><a (click)="mostrarAlum()">Alumno</a></h4>
        <h4 class="btnAP"><a (click)="mostrarProf()">Profesor</a></h4>
      </div>

      <!-- Nick -->
      <div class="form-group">
        <div class="form-holder">
          <span class="lnr lnr-user"></span>
          <input
            name="nick"
            [class.is-invalid]="
              registro.get('nick').touched && registro.get('nick').invalid
            "
            type="text"
            class="form-control"
            formControlName="nick"
            placeholder="Nick"
            required
            minlength="4"
          />
        </div>

        <!-- MENSAJE ERROR INPUT NICK -->
        <div
          *ngIf="
            registro.get('nick').invalid &&
            registro.get('nick').errors &&
            (registro.get('nick').dirty || registro.get('cpass').touched)
          "
        >
          <small
            class="text-danger"
            *ngIf="registro.get('nick').hasError('required')"
          >
            Introduce un Nick (Obligatorio)
          </small>
          <small
            class="text-danger"
            *ngIf="registro.get('nick').hasError('minlength')"
          >
            Minimo de
            {{ registro.get("nick").errors.minlength.requiredLength }}
            caracteres.
          </small>
        </div>
      </div>

      <!-- Password -->
      <div class="form-holder">
        <span class="lnr lnr-lock"></span>
        <input
          [class.is-invalid]="
            registro.get('pass').touched && registro.get('pass').invalid
          "
          type="password"
          class="form-control"
          formControlName="pass"
          placeholder="Password"
          required
        />
      </div>

      <!-- MENSAJE ERROR INPUT PASSWORD -->
      <div
        *ngIf="
          registro.get('pass').invalid &&
          registro.get('pass').errors &&
          (registro.get('pass').dirty || registro.get('pass').touched)
        "
      >
        <small
          class="text-danger"
          *ngIf="registro.get('pass').hasError('required')"
        >
          Introduce una Contraseña (Obligatorio)
        </small>
        <small
          class="text-danger"
          *ngIf="registro.get('pass').hasError('minlength')"
        >
          Minimo de
          {{ registro.get("pass").errors.minlength.requiredLength }} caracteres.
        </small>
        <small
          class="text-danger"
          *ngIf="registro.get('pass').hasError('maxlength')"
        >
          Máximo de
          {{ registro.get("pass").errors.maxlength.requiredLength }} caracteres.
        </small>
      </div>

      <!-- Confirm Password -->
      <div class="form-holder">
        <span class="lnr lnr-lock"></span>
        <input
          [class.is-invalid]="
            registro.get('cpass').touched && registro.get('cpass').invalid
          "
          type="password"
          class="form-control"
          formControlName="cpass"
          placeholder="Confirm Password"
          required
        />
      </div>

      <!-- MENSAJE ERROR INPUT CONFIRM PASSWORD -->
      <div
        *ngIf="
          registro.get('cpass').invalid &&
          registro.get('cpass').errors &&
          (registro.get('cpass').dirty || registro.get('cpass').touched)
        "
      >
        <small
          class="text-danger"
          *ngIf="registro.get('cpass').hasError('required')"
        >
          Repite la contraseña
        </small>
        <small
          class="text-danger"
          *ngIf="registro.get('cpass').hasError('compare')"
        >
          Las contraseñass no coinciden
        </small>
      </div>

      <!-- Correo Electronico -->
      <div class="form-holder">
        <span class="lnr lnr-envelope"></span>
        <input
          [class.is-invalid]="
            registro.get('email').touched && registro.get('email').invalid
          "
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="Correo Electronico"
          required
        />
      </div>

      <!-- MENSAJE ERROR INPUT EMAIL -->
      <div
        *ngIf="
          registro.get('email').invalid &&
          registro.get('email').errors &&
          (registro.get('email').dirty || registro.get('email').touched)
        "
      >
        <small
          class="text-danger"
          *ngIf="registro.get('email').hasError('required')"
        >
          Introduce un Correo Electronico (Obligatorio)
        </small>
        <small
          class="text-danger"
          *ngIf="registro.get('email').hasError('email')"
        >
          Introduce un correo valido con @ i la continuación
        </small>
      </div>

      <!-- FirstName -->
      <div class="form-holder">
        <span class="lnr lnr-pencil"></span>
        <input
          [class.is-invalid]="
            registro.get('firstname').touched &&
            registro.get('firstname').invalid
          "
          type="text"
          class="form-control"
          formControlName="firstname"
          placeholder="Nombre"
          required
        />
      </div>

      <!-- MENSAJE ERROR INPUT NOMBRE -->
      <div
        *ngIf="
          registro.get('firstname').invalid &&
          registro.get('firstname').errors &&
          (registro.get('firstname').dirty || registro.get('firstname').touched)
        "
      >
        <small
          class="text-danger"
          *ngIf="registro.get('firstname').hasError('required')"
        >
          Introduce un Nombre (Obligatorio)
        </small>
        <small
          class="text-danger"
          *ngIf="registro.get('firstname').hasError('minlength')"
        >
          Minimo de
          {{ registro.get("firstname").errors.minlength.requiredLength }}
          caracteres.
        </small>
      </div>

      <!-- LastName -->
      <div class="form-holder">
        <span class="lnr lnr-pencil"></span>
        <input
          [class.is-invalid]="
            registro.get('lastname').touched && registro.get('lastname').invalid
          "
          type="text"
          class="form-control"
          formControlName="lastname"
          placeholder="Apellidos"
          required
        />
      </div>

      <!-- MENSAJE ERROR INPUT APELLIDOS -->
      <div
        *ngIf="
          registro.get('lastname').invalid &&
          registro.get('lastname').errors &&
          (registro.get('lastname').dirty || registro.get('lastname').touched)
        "
      >
        <small
          class="text-danger"
          *ngIf="registro.get('lastname').hasError('required')"
        >
          Introduce un Apellido (Obligatorio)
        </small>
        <small
          class="text-danger"
          *ngIf="registro.get('lastname').hasError('minlength')"
        >
          Minimo de
          {{ registro.get("lastname").errors.minlength.requiredLength }}
          caracteres.
        </small>
      </div>

      <!-- Centro -->
      <div class="form-holder esconder">
        <span class="lnr lnr-graduation-hat"></span>
        <input
          [class.is-invalid]="
            registro.get('centro').touched && registro.get('centro').invalid
          "
          type="text"
          class="form-control"
          formControlName="centro"
          placeholder="Centro"
          required
        />
      </div>

      <!-- BOTONES REGISTRARSE O IR LOGIN -->
      <div class="buttons">
        <div class="container">
          <button
            type="submit"
            class="btn effect01"
            target="_blank"
            [disabled]="!registro.valid"
            (click)="botonRegistrarAlum()"
          >
            <span>Registrarse</span>
          </button>
        </div>

        <div class="container">
          <button
            class="btn effect01"
            target="_blank"
            routerLink="/login"
            routerLinkActive="active"
          >
            <span>Ya tengo cuenta</span>
          </button>
        </div>
      </div>
    </form>

    <form
      [formGroup]="registro"
      method="POST"
      *ngIf="mostrar === false"
      class="container"
    >
      <!-- TITULO PAGINA -->
      <br />
      <h3>Registrarse Profesor</h3>

      <!-- Botones PROFE-ALUMNO -->
      <div class="botonesPA input-group">
        <h4 class="btnAP"><a (click)="mostrarAlum()">Alumno</a></h4>
        <h4 class="btnAP"><a (click)="mostrarProf()">Profesor</a></h4>
      </div>

      <!-- Nick -->
      <div class="form-group">
        <div class="form-holder">
          <span class="lnr lnr-user"></span>
          <input
            name="nick"
            [class.is-invalid]="
              registro.get('nick').touched && registro.get('nick').invalid
            "
            type="text"
            class="form-control"
            formControlName="nick"
            placeholder="Nick"
            required
            minlength="4"
          />
        </div>

        <!-- MENSAJE ERROR INPUT NICK -->
        <div
          *ngIf="
            registro.get('nick').invalid &&
            registro.get('nick').errors &&
            (registro.get('nick').dirty || registro.get('cpass').touched)
          "
        >
          <small
            class="text-danger"
            *ngIf="registro.get('nick').hasError('required')"
          >
            Introduce un Nick (Obligatorio)
          </small>
          <small
            class="text-danger"
            *ngIf="registro.get('nick').hasError('minlength')"
          >
            Minimo de
            {{ registro.get("nick").errors.minlength.requiredLength }}
            caracteres.
          </small>
        </div>
      </div>

      <!-- Password -->
      <div class="form-holder">
        <span class="lnr lnr-lock"></span>
        <input
          [class.is-invalid]="
            registro.get('pass').touched && registro.get('pass').invalid
          "
          type="password"
          class="form-control"
          formControlName="pass"
          placeholder="Password"
          required
        />
      </div>

      <!-- MENSAJE ERROR INPUT PASSWORD -->
      <div
        *ngIf="
          registro.get('pass').invalid &&
          registro.get('pass').errors &&
          (registro.get('pass').dirty || registro.get('pass').touched)
        "
      >
        <small
          class="text-danger"
          *ngIf="registro.get('pass').hasError('required')"
        >
          Introduce una Contraseña (Obligatorio)
        </small>
        <small
          class="text-danger"
          *ngIf="registro.get('pass').hasError('minlength')"
        >
          Minimo de
          {{ registro.get("pass").errors.minlength.requiredLength }} caracteres.
        </small>
        <small
          class="text-danger"
          *ngIf="registro.get('pass').hasError('maxlength')"
        >
          Máximo de
          {{ registro.get("pass").errors.maxlength.requiredLength }} caracteres.
        </small>
      </div>

      <!-- Confirm Password -->
      <div class="form-holder">
        <span class="lnr lnr-lock"></span>
        <input
          [class.is-invalid]="
            registro.get('cpass').touched && registro.get('cpass').invalid
          "
          type="password"
          class="form-control"
          formControlName="cpass"
          placeholder="Confirm Password"
          required
        />
      </div>

      <!-- MENSAJE ERROR INPUT CONFIRM PASSWORD -->
      <div
        *ngIf="
          registro.get('cpass').invalid &&
          registro.get('cpass').errors &&
          (registro.get('cpass').dirty || registro.get('cpass').touched)
        "
      >
        <small
          class="text-danger"
          *ngIf="registro.get('cpass').hasError('required')"
        >
          Repite la contraseña
        </small>
        <small
          class="text-danger"
          *ngIf="registro.get('cpass').hasError('compare')"
        >
          Las contraseñass no coinciden
        </small>
      </div>

      <!-- Correo Electronico -->
      <div class="form-holder">
        <span class="lnr lnr-envelope"></span>
        <input
          [class.is-invalid]="
            registro.get('email').touched && registro.get('email').invalid
          "
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="Correo Electronico"
          required
        />
      </div>

      <!-- MENSAJE ERROR INPUT EMAIL -->
      <div
        *ngIf="
          registro.get('email').invalid &&
          registro.get('email').errors &&
          (registro.get('email').dirty || registro.get('email').touched)
        "
      >
        <small
          class="text-danger"
          *ngIf="registro.get('email').hasError('required')"
        >
          Introduce un Correo Electronico (Obligatorio)
        </small>
        <small
          class="text-danger"
          *ngIf="registro.get('email').hasError('email')"
        >
          Introduce un correo valido con @ i la continuación
        </small>
      </div>

      <!-- FirstName -->
      <div class="form-holder">
        <span class="lnr lnr-pencil"></span>
        <input
          [class.is-invalid]="
            registro.get('firstname').touched &&
            registro.get('firstname').invalid
          "
          type="text"
          class="form-control"
          formControlName="firstname"
          placeholder="Nombre"
          required
        />
      </div>

      <!-- MENSAJE ERROR INPUT NOMBRE -->
      <div
        *ngIf="
          registro.get('firstname').invalid &&
          registro.get('firstname').errors &&
          (registro.get('firstname').dirty || registro.get('firstname').touched)
        "
      >
        <small
          class="text-danger"
          *ngIf="registro.get('firstname').hasError('required')"
        >
          Introduce un Nombre (Obligatorio)
        </small>
        <small
          class="text-danger"
          *ngIf="registro.get('firstname').hasError('minlength')"
        >
          Minimo de
          {{ registro.get("firstname").errors.minlength.requiredLength }}
          caracteres.
        </small>
      </div>

      <!-- LastName -->
      <div class="form-holder">
        <span class="lnr lnr-pencil"></span>
        <input
          [class.is-invalid]="
            registro.get('lastname').touched && registro.get('lastname').invalid
          "
          type="text"
          class="form-control"
          formControlName="lastname"
          placeholder="Apellidos"
          required
        />
      </div>

      <!-- MENSAJE ERROR INPUT APELLIDOS -->
      <div
        *ngIf="
          registro.get('lastname').invalid &&
          registro.get('lastname').errors &&
          (registro.get('lastname').dirty || registro.get('lastname').touched)
        "
      >
        <small
          class="text-danger"
          *ngIf="registro.get('lastname').hasError('required')"
        >
          Introduce un Apellido (Obligatorio)
        </small>
        <small
          class="text-danger"
          *ngIf="registro.get('lastname').hasError('minlength')"
        >
          Minimo de
          {{ registro.get("lastname").errors.minlength.requiredLength }}
          caracteres.
        </small>
      </div>

      <!-- Centro -->
      <div class="form-holder">
        <span class="lnr lnr-graduation-hat"></span>
        <input
          [class.is-invalid]="
            registro.get('centro').touched && registro.get('centro').invalid
          "
          type="text"
          class="form-control"
          formControlName="centro"
          placeholder="Centro"
          required
        />
      </div>

      <!-- MENSAJE ERROR INPUT CENTRO -->
      <div
        *ngIf="
          registro.get('centro').invalid &&
          registro.get('centro').errors &&
          (registro.get('centro').dirty || registro.get('centro').touched)
        "
      >
        <small
          class="text-danger"
          *ngIf="registro.get('centro').hasError('required')"
        >
          Introduce un Centro (Obligatorio)
        </small>
      </div>

      <!-- BOTONES REGISTRARSE O IR LOGIN -->
      <div class="buttons">
        <div class="container">
          <button
            type="submit"
            class="btn effect01"
            target="_blank"
            [disabled]="!registro.valid"
            (click)="botonRegistrarProf()"
          >
            <span>Registrarse</span>
          </button>
        </div>

        <div class="container">
          <button
            class="btn effect01"
            target="_blank"
            routerLink="/login"
            routerLinkActive="active"
            ><span>Ya tengo cuenta</span>
          </button>
        </div>
      </div>
    </form>

    <!-- Imagen Derecha -->
    <img src="assets/img/image-2.png" alt="" class="image-2" />
  </div>
</div>

<script src="js/main.js"></script>
